@*<form method="post">
        <label for="Id">HumanId</label><br>
            <input name="Id" type="number" /><br>

    <label for="FirstName">FirstName</label>
    <br>
    <input name="FirstName" type="text" />
    <br>

    <label for="LastName">LastName</label>
    <br>
    <input name="LastName" type="text" />
    <br>

    <label for="Age">Age</label>
    <br>
    <input name="Age" type="number" />
    <br>

    <label for="IsSick">IsSick</label>
    <br>
    <input name="IsSick" type="checkbox" />
    <br>

    <label for="Gender">Gender</label>
    <br>
    <input name="Gender" type="text" />
    <br>

    <label for="CountryId">CountryId</label>
    <br>
    <input name="CountryId" type="number" />
    <br>

    <button type="submit">Create human</button>
    </form>*@

@model Human
<form asp-controller="Human" asp-action="Create" method="post">
    @*<label asp-for="Id"></label><br>
        <input asp-for="Id" type="number" /><br>*@
    <div asp-validation-summary="All"> </div>

    <span asp-validation-for="FirstName"> </span><br>
    <label asp-for="FirstName"></label><br>
    <input asp-for="FirstName" type="text" /><br>

    <span asp-validation-for="LastName"> </span><br>
    <label asp-for="LastName"></label><br>
    <input asp-for="LastName" type="text" /><br>

    <span asp-validation-for="Age"> </span><br>
    <label asp-for="Age"></label><br>
    <input asp-for="Age" type="number" /><br>

    <span asp-validation-for="IsSick"> </span><br>
    <label asp-for="IsSick"></label><br>
    <input asp-for="IsSick" type="checkbox" /><br>

    <span asp-validation-for="Gender"> </span><br>
    <label asp-for="Gender"></label><br>
    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" type="text"></select><br>
    @*<input asp-for="Gender" type="text" />*@
    <br>

    <span asp-validation-for="CountryId"> </span><br>
    <select asp-for="CountryId" asp-items="Html.GetEnumSelectList<CountryId>()" type="text"></select><br>
    <label asp-for="CountryId"></label>
    <br>
    @*<input asp-for="CountryId" type="number" />*@
    <br>

    <button type="submit">Create human</button>
</form>
