@model ResourceImageViewModel
<form asp-controller="Resources" asp-action="Image" method="post">
    <label asp-for="ImageName">Введите имя изображения </label><br>
    <input asp-for="ImageName" type="text" /><br>
    <br>

    <button type="submit">Image</button>
</form>
